.container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    display: grid;
    flex-direction: column;
    place-items: left;
    ion-item{
        --background: #D9D9D9;
        height: 42px;
        margin-bottom: 0.3%;
    }
    ion-label{
        text-transform: capitalize;
    }
}

.link{
    display: grid;
    place-items: end;
    padding-bottom: 2%;
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.5%;
        font-weight: bold;
        font-size: 12px;
        color: rgb(69, 69, 255);
        ion-icon {
            font-size: 20px;
        }
    }
}

.info-container{
    display: flex;
    justify-content: space-between;
    .day-lbl {
        font-size: 1rem;
        font-weight: bold;
    }
    a {
        padding-right: 2%;
    }
}

ion-label{
    color: white;
}

ion-list-header{
    --background: #7A6200;
}

