.goleo-header{
    height: 50px;
    width: 900px;
    position:relative;
    top: 80px;
    left: 80px;
    ion-col{
        background-color: #7A6200;
        color: white ;
    }    
}
.goleo-content{
    height: 50px;
    width: 900px;
    position:relative;
    top: 80px;
    left: 80px;
    ion-col{
        background-color: #D9D9D9;
        color: black ;
    }    
}