<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-button  [routerLink]="['/estadisticas/estadisticas2']">Tabla general</ion-button>
  <ion-button  [routerLink]="['/estadisticas/estadisticas3']">Tabla de Goleo</ion-button>
  <ion-button  [routerLink]="['/estadisticas/estadisticas4']">Suspensiones</ion-button>
</ion-content>
