<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registro de Equipos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding" scroll-y="false">

  <div class="steps">
    <span [style]="currentSlide === slides[0] ? bold : boldNot">{{ slides[0] }}</span>
    <ion-icon name="caret-forward-outline"></ion-icon>
    <span [style]="currentSlide === slides[1] ? bold : boldNot">{{ slides[1] }}</span>
    <ion-icon name="caret-forward-outline"></ion-icon>
    <span [style]="currentSlide === slides[2] ? bold : boldNot">{{ slides[2] }}</span>
  </div>

  <ion-slides #teamRegisterSlider class="container" [options]="slidesOpts" (ionSlideDidChange)="onSlidesDidChange()"
    (ionSlideWillChange)="onSlidesChanged()">

    <ion-slide>
      <p *ngIf="submitAttempt" style="color: #ea6153;">
        Revise los datos ingresados.
      </p>

      <form [formGroup]="slideOneForm">
        <h1 class="titulo">Datos del equipo</h1>
        <div class="text-boxes">
          <ion-item>
            <ion-label position="floating">Nombre del equipo</ion-label>
            <ion-input class="capitalize" formControlName="teamName" type="text"></ion-input>
          </ion-item>

          <ion-item class="select">
            <ion-select formControlName="league" placeholder="Seleccionar liga" interface="popover">
              <ion-select-option>Lunes</ion-select-option>
              <ion-select-option>Martes</ion-select-option>
              <ion-select-option>Miercoles</ion-select-option>
              <ion-select-option>Jueves</ion-select-option>
              <ion-select-option>Viernes</ion-select-option>
              <ion-select-option>Sábado</ion-select-option>
              <ion-select-option>Domingo</ion-select-option>
            </ion-select>
            <ion-icon name="caret-down-outline"></ion-icon>
          </ion-item>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <p *ngIf="submitAttempt" style="color: #ea6153;">
        Revise los datos ingresados.
      </p>

      <form [formGroup]="slideTwoForm">
        <h1 class="titulo">Datos del capitán</h1>
        <div class="text-boxes">
          <ion-item>
            <ion-label position="floating">Nombre(s)</ion-label>
            <ion-input class="capitalize" formControlName="firstName" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input class="capitalize" formControlName="lastName" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="mail" type="email" ngModel email></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input formControlName="phone" type="tel"></ion-input>
          </ion-item>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col class="titulo colLeft">Revisión de datos</ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row class="subtitulo">
          <ion-col class="colLeft">Nombre del equipo</ion-col>
          <ion-col class="colRight">Nombre del capitán</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="colLeft">
            <span class="capitalize" id="sumTeamName"></span>
          </ion-col>
          <ion-col class="colRight">
            <span class="capitalize" id="sumName"></span>
          </ion-col>
        </ion-row>

        <ion-row class="subtitulo">
          <ion-col class="colLeft">Liga</ion-col>
          <ion-col class="colRight">Correo</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="colLeft">
            <span id="sumLeague"></span>
          </ion-col>
          <ion-col class="colRight">
            <span id="sumEmail"></span>
          </ion-col>
        </ion-row>

        <ion-row class="subtitulo">
          <ion-col class="colLeft"></ion-col>
          <ion-col class="colRight">Teléfono</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="colLeft"></ion-col>
          <ion-col class="colRight">
            <span id="sumPhone"></span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div>
      <ion-button strong shape="round" [style.visibility]="isBeginning ? 'hidden' : ''" (click)="back()">
        <ion-icon strong slot="start" name="chevron-back"></ion-icon>
        <span>Volver</span>
      </ion-button>

      <ion-button strong shape="round" color="primary" [style.visibility]="isEnd ? 'hidden' : ''" (click)="next()">
        <span>Siguiente</span>
      </ion-button>

      <ion-button strong shape="round" color="primary" [style.visibility]="isEnd ? '' : 'hidden'" (click)="back()"
        routerLink="/ligas-y-equipos">
        <span>Finalizar</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>