<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <img src="assets/images/logo.png" alt="Logo FC" width="30%" height="30%">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-title>¡Bienvenido, René Rodriguez!</ion-title>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>