<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Suspensiones</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div  class="suspensiones-header">  
    <ion-row>
      <ion-col>
        Jugador
      </ion-col>
      <ion-col>
        Equipo
      </ion-col>
      <ion-col>
        Suspendido hasta jornada
      </ion-col>
    </ion-row>
  </div>
  <div class="suspensiones-content">
    <ion-row>
      <ion-col>
        Juan Pérez
      </ion-col>
      <ion-col>
        Equipo
      </ion-col>
      <ion-col>
        16
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col>
        Daniel Garcia
      </ion-col>
      <ion-col>
        Equipo
      </ion-col>
      <ion-col>
        15
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col>
        Leonardo Rodríguez
      </ion-col>
      <ion-col>
        Equipo
      </ion-col>
      <ion-col>
        14
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col>
        Mateo López
      </ion-col>
      <ion-col>
        Equipo
      </ion-col>
      <ion-col>
        12
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col>
        Alexander Martinez
      </ion-col>
      <ion-col>
        Equipo
      </ion-col>
      <ion-col>
        12
      </ion-col>
    </ion-row>  
  </div>  

  
</ion-content>
