<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <img src="assets/images/logo.png" alt="logo">
    <div class="login-container">

      <ion-text id="txt-login">Iniciar Sesión</ion-text>
      
      <div class="text-boxes">
        <ion-input placeholder="Correo electrónico" id="txt-area-email" type="email"> <ion-icon name="person-outline"></ion-icon></ion-input>

        <ion-input placeholder="Contraseña" id="txt-area-password" type="password"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
      </div>

      <ion-button id="bttn-login" [routerLink]="['/']">Iniciar Sesión</ion-button>

    </div>

    <ion-text id="txt-forgot-password">¿Olvidaste tu contraseña?</ion-text>
    
    <div class="login-with">

      <div id="line-1"></div>
      <ion-text id="txt-login-with">o inicia sesion con</ion-text>
      <div id="line-2"></div>

    </div>


    <div class="container-connect">

      <ion-button id="bttn-facebook">
        <div class="bttn-container-fb">
          <ion-icon name="logo-facebook"></ion-icon>
          Facebook
        </div>
      </ion-button>

        <ion-button id="bttn-google">
          <div class="bttn-container-google">
            <ion-icon name="logo-google"></ion-icon>Google
          </div>
        </ion-button>
      
    </div>

    <div class="no-account-container">
      <ion-text id="txt-no-account">¿Aún no tienes cuenta?</ion-text>
      <ion-text id="txt-register">Registrarse</ion-text>
    </div>

  </div>
  
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->


</ion-content>
