<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <img src="assets/images/logo.png" alt="logo">
    <div class="login-container">

      <ion-text id="txt-login">Iniciar Sesión</ion-text>
      
      <div class="text-boxes">
        <ion-input placeholder="Correo electrónico" id="txt-area-email" type="email"> <ion-icon name="person-outline"></ion-icon></ion-input>

        <ion-input placeholder="Contraseña" id="txt-area-password" type="password"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
      </div>

      <ion-button id="bttn-login" [routerLink]="['/inicio']">Iniciar Sesión</ion-button>

    </div>

    <ion-text id="txt-forgot-password">¿Olvidaste tu contraseña?</ion-text>
    
  </div>


</ion-content>
