<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de árbitros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="titulo colLeft">Datos del árbitro</ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row class="subtitulo">
        <ion-col class="colLeft">Nombre del árbitro</ion-col>
        <ion-col class="colRight">Comentarios:</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="colLeft">Juan Pérez</ion-col>
        <ion-col class="colRight">Esta disponible de lunes a jueves desde las 5 de la tarde a las 10 de la noche.</ion-col>
      </ion-row>

      <ion-row class="subtitulo a">
        <ion-col class="colLeft">Correo</ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="colLeft">juanfernando_perez@hotmail.com</ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row class="subtitulo">
        <ion-col class="colLeft">Teléfono</ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="colLeft">614-423-4231</ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
