<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Equipo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-row class="stats-header">

    <ion-col>
      <ion-label>PJ</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>Pg</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>PE</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>PP</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>GF</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>GC</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>PTS</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>POS</ion-label>
    </ion-col>
  </ion-row> 
  <ion-row class="team-stats">

    <ion-col>
      <ion-label>15</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>8</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>4</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>3</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>GF</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>33</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>18</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>2do</ion-label>
    </ion-col>
  </ion-row> 
  <div class="stats-playerh">
    <ion-row>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Goles
      </ion-col>
      <ion-col>
        Partidos jugados
      </ion-col>
      <ion-col>
        Suspension
      </ion-col>
    </ion-row>
   

  </div>
  <div class="stats-player">
    <ion-row>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Goles
      </ion-col>
      <ion-col>
        Partidos jugados
      </ion-col>
      <ion-col>
        Suspension
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Goles
      </ion-col>
      <ion-col>
        Partidos jugados
      </ion-col>
      <ion-col>
        Suspension
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Goles
      </ion-col>
      <ion-col>
        Partidos jugados
      </ion-col>
      <ion-col>
        Suspension
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Goles
      </ion-col>
      <ion-col>
        Partidos jugados
      </ion-col>
      <ion-col>
        Suspension
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Goles
      </ion-col>
      <ion-col>
        Partidos jugados
      </ion-col>
      <ion-col>
        Suspension
      </ion-col>
    </ion-row>
  </div>
</ion-content>
