.team-bttn-container {
    align-items: left;

    .nom-lbl{
        position: absolute;
        left: 0px;
    }
    .pj-lbl{
        position: absolute;
        left:200px;
    }
    .pg-lbl{
        position: absolute;
        left:300px;
    }
    .pe-lbl{
        position: absolute; 
        left:410px;
    }
    .pp-lbl{
        position: absolute;
        left:520px;
    }   
    .gf-lbl{
        position: absolute;
        left:630px;
    }
    .gc-lbl{
        position: absolute;
        left:740px;
    }
    .pts-lbl{
        position: absolute;
        left:860px;
    }
    .pos-lbl{
        position: absolute;
        left:960px;
    }

}
.stats-header{
    align-items: left;

    ion-col{
        background-color: lightgrey;
        color: black;
        height: 50px;
        width: 100px;
    }  
    .pj-head{
        position:absolute;
        left:100px; 
    } 
    .pg-head{
        position:absolute;
        left: 80px;
    } 
    .pe-head{
        position:absolute;
        left: 80px;
    } 
    .pp-head{
        position:absolute;
        
        left:80px; 
    } 
    .gf-head{
        position:absolute;
        left: 80px;
    } 
    .gc-head{
        position:absolute;
        left: 80px;
    } 
    .pts-head{
        position:absolute;
        
        left:80px; 
    } 
    .pos-head{
        position:absolute;
        left: 80px;
    } 
}