<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tabla General</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="stats-header">
    <ion-col>
      <ion-label>Equipo</ion-label>
    </ion-col>
    <ion-col>
      <ion-label class="pj-head">PJ</ion-label>
    </ion-col>
    <ion-col>
      <ion-label class="pg-head">Pg</ion-label>
    </ion-col>
    <ion-col>
      <ion-label class="pe-head">PE</ion-label>
    </ion-col>
    <ion-col>
      <ion-label class="pp-head">PP</ion-label>
    </ion-col>
    <ion-col>
      <ion-label class="gf-head">GF</ion-label>
    </ion-col>
    <ion-col>
      <ion-label class="gc-head">GC</ion-label>
    </ion-col>
    <ion-col>
      <ion-label class="pts-head">PTS</ion-label>
    </ion-col>
    <ion-col>
      <ion-label class="pos-head">POS</ion-label>
    </ion-col>
  </ion-row>  
  <ion-button expand="block" fill="solid" shape="default" class="day-bttn">

    <div class="team-bttn-container">
      <ion-label class="nom-lbl">Los correcaminos</ion-label>
      <ion-label class="pj-lbl">15</ion-label>
      <ion-label class="pg-lbl">10</ion-label>
      <ion-label class="pe-lbl">1</ion-label>
      <ion-label class="pp-lbl">4</ion-label>
      <ion-label class="gf-lbl">36</ion-label>
      <ion-label class="gc-lbl">19</ion-label> 
      <ion-label class="pts-lbl">31</ion-label>
      <ion-label class="pos-lbl">1ro</ion-label>
    </div>

  </ion-button>

  <ion-button [routerLink]="['/estadisticas/estadisticas3']"expand="block" fill="solid" shape="default" class="day-bttn">

    <div class="team-bttn-container">
      <ion-label class="nom-lbl">La PRI</ion-label>
      <ion-label class="pj-lbl">15</ion-label>
      <ion-label class="pg-lbl">8</ion-label>
      <ion-label class="pe-lbl">4</ion-label>
      <ion-label class="pp-lbl">3</ion-label>
      <ion-label class="gf-lbl">33</ion-label>
      <ion-label class="gc-lbl">18</ion-label>                        
      <ion-label class="pts-lbl">28</ion-label>      
      <ion-label class="pos-lbl">2do</ion-label>
    </div>
    
  </ion-button>

  <ion-button expand="block" fill="solid" shape="default" class="day-bttn">

    <div class="team-bttn-container">
      <ion-label class="nom-lbl">Abuelos F.C.</ion-label>
      <ion-label class="pj-lbl">15</ion-label>
      <ion-label class="pg-lbl">8</ion-label>
      <ion-label class="pe-lbl">2</ion-label>
      <ion-label class="pp-lbl">5</ion-label>
      <ion-label class="gf-lbl">29</ion-label>
      <ion-label class="gc-lbl">20</ion-label>       
      <ion-label class="pts-lbl">26</ion-label>
      <ion-label class="pos-lbl">3ro</ion-label>
    </div>
    
  </ion-button>

  <ion-button expand="block" fill="solid" shape="default" class="day-bttn">

    <div class="team-bttn-container">
      <ion-label class="nom-lbl">Sacachispas</ion-label>
      <ion-label class="pj-lbl">15</ion-label>
      <ion-label class="pg-lbl">7</ion-label>
      <ion-label class="pe-lbl">4</ion-label>
      <ion-label class="pp-lbl">3</ion-label>
      <ion-label class="gf-lbl">25</ion-label>
      <ion-label class="gc-lbl">26</ion-label>
      <ion-label class="pts-lbl">25</ion-label>
      <ion-label class="pos-lbl">4to</ion-label>
    </div>
    
  </ion-button>

  <ion-button expand="block" fill="solid" shape="default" class="day-bttn">

    <div class="team-bttn-container">
      <ion-label class="nom-lbl">Rico pollo</ion-label>
      <ion-label class="pj-lbl">15</ion-label>
      <ion-label class="pg-lbl">6</ion-label>
      <ion-label class="pe-lbl">7</ion-label>
      <ion-label class="pp-lbl">2</ion-label>
      <ion-label class="gf-lbl">24</ion-label>
      <ion-label class="gc-lbl">28</ion-label>
      <ion-label class="pts-lbl">25</ion-label>      
      <ion-label class="pos-lbl">5to</ion-label>
    </div>
    
  </ion-button>
  
  
  <ion-button expand="block" fill="solid" shape="default" class="day-bttn">
    
    <div class="team-bttn-container">
      <ion-label class="nom-lbl">Cuervos</ion-label>
      <ion-label class="pj-lbl">15</ion-label>
      <ion-label class="pg-lbl">6</ion-label>
      <ion-label class="pe-lbl">3</ion-label>
      <ion-label class="pp-lbl">6</ion-label>
      <ion-label class="gf-lbl">22</ion-label>
      <ion-label class="gc-lbl">33</ion-label>      
      <ion-label class="pts-lbl">21</ion-label>
      <ion-label class="pos-lbl">6to</ion-label>
    </div>
    
  </ion-button>
  
  <ion-button expand="block" fill="solid" shape="default" class="day-bttn">
    
    <div class="team-bttn-container">
      <ion-label class="nom-lbl">Los capis</ion-label>
      <ion-label class="pj-lbl">15</ion-label>
      <ion-label class="pg-lbl">5</ion-label>
      <ion-label class="pe-lbl">4</ion-label>
      <ion-label class="pp-lbl">6</ion-label>
      <ion-label class="gf-lbl">20</ion-label>
      <ion-label class="gc-lbl">36</ion-label>      
      <ion-label class="pts-lbl">19</ion-label>
      <ion-label class="pos-lbl">7mo</ion-label>
    </div>
    
  </ion-button>
  
  <ion-button expand="block" fill="solid" shape="default" class="day-bttn">

    <div class="team-bttn-container">
      <ion-label class="nom-lbl">Balones ponchados</ion-label>
      <ion-label class="pj-lbl">15</ion-label>
      <ion-label class="pg-lbl">4</ion-label>
      <ion-label class="pe-lbl">6</ion-label>
      <ion-label class="pp-lbl">5</ion-label>
      <ion-label class="gf-lbl">28</ion-label>
      <ion-label class="gc-lbl">37</ion-label>      
      <ion-label class="pts-lbl">18</ion-label>
      <ion-label class="pos-lbl">8vo</ion-label>
    </div>

  </ion-button>
</ion-content>
