table, th {
    border:1px solid black;
}
td{
    border:1px solid black;
    background-color: #d9d9d9;
}
.arbitro{
    display: flex;
    justify-content: space-between;
    background-color: #d9d9d9;
    ion-item{
        margin-left: 10%;
        width: 100px;
        --border-radius: 10px;
        --border-width: 2px;
        --min-height: fit-content;
        padding-top: 2%;
        background-color: #d9d9d9;
        ion-select{
            width: 100%;
        }
        ion-select::part(icon) {
            display: none !important;
        }
    }
}