<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <table style="width:100%; position:absolute;  top:100px;">
    <tr style="background-color: #7a6200;">
      <th>Horario</th>
      <th>Equipo1</th>
      <th>VS</th>
      <th>Equipo2</th>
      <th>Arbitro</th>
      
    </tr>
    <tr>
      <td>12:00  <ion-button  [routerLink]="['/calendario/calendario2']">Cambiar</ion-button> </td>
      <td>Temerarios</td>
      <td></td>
      <td>Capis</td>
      <td>Juan Perez</td>
    </tr>

    <tr>
      <td>13:00  <ion-button  [routerLink]="['/calendario/calendario2']">Cambiar</ion-button> </td>
      <td>Temerarios</td>
      <td></td>
      <td>Capis</td>
      <td>Sebastian Calzado</td>
    </tr>

    <tr>
      <td>14:00  <ion-button  [routerLink]="['/calendario/calendario2']">Cambiar</ion-button> </td>
      <td>Temerarios</td>
      <td></td>
      <td>Capis</td>
      <td>Lucas Ponce</td>
    </tr>
    <tr>
      <td>15:00  <ion-button  [routerLink]="['/calendario/calendario2']">Cambiar</ion-button> </td>
      <td>TNT </td>
      <td></td>
      <td>Cadetes</td>
      <td>Mateo Santillanes</td>
    </tr>

    <tr>
      <td>16:00 <ion-button  [routerLink]="['/calendario/calendario2']">Cambiar</ion-button> </td>
      <td>Patito</td>
      <td></td>
      <td>Caballito</td>
      <td>Sebastian Calzado</td>
    </tr>
  </table>

 
  
</ion-content>
